a:hover{
    font-weight: bold;
}

#content{
    width: 1400px;
    height: auto;
    position: relative;
    top:200px;
}

.imgslide{
    margin: 100px 0px;
    width: 100%;
    height: 450px;
}

.main{
    top: 600px;
    width: 100%;
    height: 100px;
    font-size: 40px;
    text-align: center;
    color: gray;
    float:left;
}


.sub{
    width: 50%;
    height: 30px;
    margin-left: 350px;
    float: left;
}

.sub_cate_name li{
    font-size: 15px;
    width: 140px;
    height: 30px;
    float: left;
    text-align: center;
}

hr{
    width: 80%;
}

.prod_list{
    width: 100%;
    height: auto;
    float: left;
    text-align: center;
}

.prod_list ul{
    width: 1400px;
    margin: 0;
    height: auto;
    float: center;
}

.prod_list ul li {
    width: 250px;
    height: 300px;
    margin: 45px;
    float: left;
    font-size: medium;
}

.prod_list ul li img{
    width: 250px;
    height: 250px;
    float: left;
    background-color: #ffffff;
    margin-bottom: 15px;
}

