@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@100&family=Libre+Baskerville&display=swap');
/* content */
.content{
    width: 1400px;
    height: 2500px;
    position: relative;
    top: 150px;
    float: left;
    font-family: 'Hahmlet', serif;
}

.cont_top{
    width: 1400px;
    height: 600px;
    float: left;
    position:static;
}

.imgslide{
    width: 400px;
    height: 400px;
    float:left;
    margin: 100px 50px 100px 200px;
    background-color: rgba(0, 0, 0, 0.03);
    box-shadow: 0px 0px 0px 5px rgb(0 0 0 / 3%);
}

.imgslide a{
    margin: 0;
}

.prod_info{
    width: 480px;
    height: 400px;
    float: right;
    margin: 100px 200px 100px 50px;
}

.prod_info hr, h2{
    width: 100%;
    text-align: center;
}

.prod_info table tr th{
    width: 240px;
    height: 40px;
    text-align: left;
}

.prod_info table tr td{
    width: 240px;
    height: 40px;
    text-align: left;
}

select{
    width: 200px;
    height: 30px;
    margin-left: -10px;
    font-size: 15px;
    border-radius: 5px;
    border-color: rgb(212, 212, 212);
}

select:hover{
    background-color: rgb(246, 246, 246);
}

/* 본문 내용 (제품 상세 설명) */
.cont_body{
    width: 950px;
    height: 1500px;
    position:relative;
}

.cont_body img{
    width: 950px;
}

#footer{
    position: absolute;
    top: 5800px;
}